---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Verdant Vistas">
  <main>
    <section class="grid grid-cols-1 gap-1" id="gallery">
      <!-- HAVE TO MAKE ALL THE IMAGE SRCes EMPTY BECAUSE THAT IS WHAT WE ARE CHANGING WITH THIS SHUFFLE INSTEAD OF SHUFFLING THE ACTUAL ELEMENT -->
      <div class="item item1">
        <img
          src=""
          alt="image1"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item2">
        <img
          src=""
          alt="image2"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item3">
        <img
          src=""
          alt="image3"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item4">
        <img
          src=""
          alt="image4"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item5">
        <img
          src=""
          alt="image5"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item6">
        <img
          src=""
          alt="image6"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item7">
        <img
          src=""
          alt="image7"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item8">
        <img
          src=""
          alt="image8"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item9">
        <img
          src=""
          alt="image9"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item10">
        <img
          src=""
          alt="image10"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item11">
        <img
          src=""
          alt="image11"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item12">
        <img
          src=""
          alt="image12"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item13">
        <img
          src=""
          alt="image13"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item14">
        <img
          src=""
          alt="image14"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item15">
        <img
          src=""
          alt="image15"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item16">
        <img
          src=""
          alt="image16"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item17">
        <img
          src=""
          alt="image17"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item18">
        <img
          src=""
          alt="image18"
          class="item__img w-full rounded-sm hover:bg-emerald-100 md:hover:bg-emerald-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      <div class="item item19">
        <img
          src=""
          alt="image19"
          class="item__img w-full rounded-sm hover:bg-green-100 md:hover:bg-green-50 px-4 md:px-48 xl:px-96"
          loading="lazy"
        />
      </div>
      </section>
  </main>
</Layout>

<style></style>

<script type="text/javascript">
  const items = document.querySelectorAll(".item");
  const images = document.querySelectorAll(".item__img");

  const imageLinks = [
    "1.jpg",
    "2.jpg",
    "3.jpg",
    "4.jpg",
    "5.jpg",
    "6.jpg",
    "7.jpg",
    "8.jpg",
    "9.jpg",
    "10.jpg",
    "11.jpg",
    "12.jpg",
    "13.jpg",
    "14.jpg",
    "15.jpg",
    "16.jpg",
    "17.jpg",
    "18.jpg",
    "19.jpg"
  ];

  items.forEach((elem) => {
    elem.addEventListener("load", () => {
      zoomImage(elem);
    });
  });

  function zoomImage(el) {
    el.classList.toggle("active");
  }
  // THIS IMAGE SHUFFLE USES FISHER-YATES METHOD

  function shuffleArray(arr) {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [arr[i], arr[j]] = [arr[j], arr[i]];
    }
  }

  function shuffleImages() {
    shuffleArray(imageLinks);

    for (let i = 0; i < images.length; i++) {
      images[i].src = imageLinks[i];
    }
  }

  shuffleImages();
</script>
